p {
    color: black;
    font-size: 14px;
    font-family: 'Nimbus Sans';
    line-height: 22px
    
    }
    b {
        font-family: 'Helvetica Neue';
        text-align: center;
        font-size: 16px;
        color: black
    }
    h1 {
        letter-spacing: 5.5px;
        text-align: center;
        color: black;
        font-size: 40px;
        font-family: 'Helvetica Neue';
        font-weight: bold;
    }
    
    h2 {
        letter-spacing: 5px;
        text-align: center;
        color: rgb(55, 255, 55);
        text-shadow: 2px 2px green;
        font-size: 36px;
        font-family: 'Nimbus Sans';
        font-weight: bold;
    }
    h3 {
    color: rgb(0, 200, 0);
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    text-shadow: 1.5px 1.5px rgb(0, 150, 0);
    font-family: 'Helvetica Neue';
    font-weight: bold;
    
    }
    h4 {
    font-size: 15px;
    }
    h5 {
        color: white;
        font-size: 17px;
        font-family: "Nimbus Sans";
        font-weight: normal;
    }
    h6 {
        color: green;
        font-size: 10px;
        font-family:'Nimbus Sans';
    } 
    body {
    background: rgb(230, 230, 230);
    }
      
    img {
    float: right;
    }
    
    li {
    color: green;
    cursor: pointer;
    font-family:'Nimbus Sans';
    font-weight: normal;
    }

    ol {
        color: green;
        font-family: 'Nimbus Sans';
        font-weight: bold;
    }
    
    a {
    color: rgb(0, 151, 0);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(0, 180, 45);
    font-family:'Nimbus Sans';
    font-size: 14px;
    line-height: 5px
    }

    a:hover {
        color: rgb(0, 255, 0);
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: rgb(135, 255, 135);
        font-family:'Nimbus Sans';
        font-weight: bold;
        font-size: 14px;  
    }
    
    .topnav{
    
    top: 0px;
    /* left: 10px; */
    z-index: 1;
    text-align: center;
    background: white;
    overflow-x: hidden;
    padding: 5px;
    color: white;
    font-family: 'Nimbus Sans'

    }

    .footer {
        background-color: white;
        vertical-align: bottom;
        height: 10%;
        padding: 2px;
    }

    .middle {
        height: 75vh;
        background-color: rgb(200, 200, 200);
        padding: 15px;
    }

    .bigting {
        background-image: url("newlogo.jpg");
        background-size: 100vw;
        height: 60vh;
        width: 100vw;
        position: absolute;
        left: 0px;
    }
    
    .topnav a {
       padding: 8px 20px 8px 20px;
       display: block;
       color: rgb(0, 0, 0);
       text-decoration: none;
       float: left; 
       transition: all 0.5s;
    }

    
    
    .topnav a:hover {
        color: white;
        font-family:'Nimbus Sans';
        font-size: 18px;
        background-color: #000000;
        transition: all 0.5s;
    }    
    .main{
        width: auto;
    }
    
    .dropdown {
        float: left;
        overflow: hidden;
    } 
    
    .dropdown .dropbtn {
       border: none;
       font-size: 16px;
       padding: 5px 5px;
       outline: none;
       font-family: "Nimbus Sans";
       background: #008800;
       color: palegreen;
       float: top;
       margin: 0; 
    }
    
    .dropdown:hover .dropbtn {
        background: #009300 
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #008800;
        min-width: 160px;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: palegreen;
        text-decoration: underline;
        text-decoration-color: limegreen;
        display: table-row;
        padding: 6px 6px;
        text-align: left;
        font-size: 13px;
    }
    
    .dropdown-content a:hover {
        background-color: #009900;
        color: white;
        text-decoration: underline;
        text-decoration-color: palegreen;
        display: table-row;
        font-family: "Nimbus Sans";
    }
    
    .dropdown:hover .dropdown-content {
        display: table;
    }
    
    @media screen and (max-height: 300px) {
        .topnav {padding-top: 5px}
        .topnav a {font-size: 12.5px}
    }
    
    table {
        font-family: "Nimbus Sans";

    }
    table, td {
        border: 1px;
        border-collapse: collapse;
        
    }